.Palette{
    height:100vh;
}

.Palette-colors{
    height:90%;
}


.palette-footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
    
}
.palette-footer-content{
    font-size: 1rem;
    
}

.emoji{
    margin-left: 10px;
    font-size: 1rem;
    font-weight: bold;
}